.page-template-about {

  @include font-size(1.125);

  h2 {
    position: relative;
    @include font-size(2.5);
    color: lighten($color__red, 10%);
    margin-top: 0;

    &::before {
			content: '';
			border-top: 3px solid $color__blue;
			width: 145px;
			position: absolute;
			display: block;
			top: -10px;
			left: 0;
		}
  }

  .section-featured {
    background-color: $color__dark;
    .bcg {
      opacity: 0.5;
    }

    p {
      max-width: 570px;
      margin: 0 auto 1.5em;
    }
  } //.section-featured

  .section-who {
    @include section(100px);


    .entry-content {
      width: 100%;
      @include breakpoint($screen-sm) { width: 50%; }
    }

  } //.section-who


  .section-why {
    @include section(150px);
    overflow: hidden;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    @include font-size(1.5);
    @include breakpoint($screen-sm) { min-height: 700px; }

    h2::before {
      left: 50%;
      transform: translateX(-73px);
    }

    .video-bg {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      left: 0;
      top: 0;
      background-color: rgba($color__light, 0.9);
    }

    .entry-content {
      position: relative;
      background-color: $color__light;
      border: 2px solid rgba($color__dark, .1);
      padding: 1em;
      @include clearfix;
      @include clearfix-after;

      &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $color__light;
        border: 2px solid rgba($color__dark, .1);
        width: calc(100% + 2em);
        left: -1em;
        top: -1em;
        bottom: -1em;
        left: -1em;
        z-index: -1;
      }

    } //.entry-content


  } //.section-why


} //.page-template-about
