.page-template-homepage {

  @include font-size(1.125);
  p { letter-spacing: 2px; }

  h2 {
    @include font-size(1.8);
    font-weight: normal;
    line-height: 1.2;
    @include breakpoint($screen-sm) {
      @include font-size(2.5);
    }
  }

  hr {
    width: 50%;
    background-color: $color__light;
  }

  .section-carousel {
      width: 100%;
      float: left;
      position: relative;

    // .owl-item {
    //   position: relative;
    //   min-height: 1px;
    //   float: left;
    //   user-select: none;
    // }

    .owl-lazy {
      padding: 1em 1em;
      @include breakpoint($screen-sm) { padding: 6em 1em; }
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slide-caption {
      position: relative;
      display: block;
      color: $color__light;
      padding: 1em;
      background-color: rgba($color__dark, 0.6);
      //top: 50%;
      //transform: perspective(1px) translateY(-50%);
      margin: 0 auto;
      text-align: center;
      transition: all 1s;

      @extend .container;

    } //.slide-caption

    .slide-border {
      border: 2px solid $color__light;
      border-top: 0;
      padding: 1em 2em;
      position: relative;
    }

    .slide-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;

      .fa {
        position: absolute;
        top: -10px;
        transform: perspective(1px) translateX(-50%);
        font-size: 24px;
      }

      &::before {
        content: '';
        border-bottom: 2px solid $color__light;
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        @include breakpoint($screen-sm) { width: 45%; }
      }
      &::after {
        content: '';
        border-bottom: 2px solid $color__light;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        @include breakpoint($screen-sm) { width: 45%; }
      }
    } // .slide-header

  } //.section-carousel

  .section-about {
    width: 100%;
    float: left;
    position: relative;
    background-color: $color__blue;
    overflow: hidden;
    text-align: center;
    color: $color__light;
    @include font-size(1.5);
    @include breakpoint($screen-sm) { min-height: 700px; }

    &::before { // parallax bug fix
        position: fixed;
        content: '';
    }

    & > .container {
      padding: 100px 15px;
      z-index: 2;
    }

    .bcg {
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 175%;
      top: 0;
      z-index: 1;
    }

    .entry-content {
      border: 2px solid $color__light;
      padding: 1em 2em;
      margin: 0 auto;
    }

  }

  .section-map {
    width: 100%;
    float: left;
    position: relative; // required for .video-bg
    overflow: hidden;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    color: $color__light;
    @include font-size(1.5);
    @include breakpoint($screen-sm) { min-height: 700px; }


    & > .container {
      padding: 3em 15px 4em;
      @include clearfix;
      @include clearfix-after;
    }

    h2 {
      @include font-size(1.8);
      @include breakpoint($screen-sm) {  @include font-size(2.25); }
    }

    .entry-title {
      text-align: right;
    }

    .entry-map, .entry-container {
      float: left;
      width: 100%;
    }

    .entry-map {
      @include breakpoint($screen-sm) { width: 70%; }
    }

    .entry-container {
      position: relative;
      padding: 2em;
      width: 100%;
      margin-top: -70%;
      margin-left: 0;
      @include breakpoint($screen-sm) {
        width: 50%;
        margin-top: 0;
        margin-left: -20%;
      }

      .bcg {
        background-color: rgba($color__dark, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        transition: all 1s;
        transition-delay: 1s;
        z-index: 1;
      }

      .entry-content {
        position: relative;
        z-index: 2;
        margin: 0;
        padding: 0;
      }

      &.slide-right {

        .bcg {
          width: 100%;
        }

        h2, ul, ol {
          transition: all 1s;
          transition-delay: 2s;
          opacity: 1;
        }
      } //.slide-right

      h2 {
        margin-top: 0;
        border-bottom: 2px solid $color__light;
        line-height: 1;
        padding-bottom: .5em;
        opacity: 0;
      }

      ol,ul {
        margin: 0;
        opacity: 0;
      }
    } //.entry-container

    .new-line {
      display: block;
      width: 100%;
    }

    .text-large {
      @include font-size(2.5);
      font-weight: 700;
      @include breakpoint($screen-sm) {  @include font-size(3.5); }
    }

    .video-bg {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      left: 0;
      top: 0;
      background-color: rgba($color__red, 0.9);
    }


  }// .section-map

  .section-hubzones {
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    @include clearfix;
    @include clearfix-after;

    @include font-size(1.5);
    letter-spacing: 0px;

    p { letter-spacing: 0px; }

    .entry-title {
      position: relative;
      margin-bottom: 40px;
      color: $color__red;
      &::after {
        content: '';
        background-color: $color__dark;
        width: 50%;
        height: 2px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .entry-image {
      position: relative;
      display: none;
      float: left;
      width: 100%;
      padding: 5em 1em; // must match .entry-content padding
      overflow: hidden;
      transform-origin: 0 0;

      @include breakpoint($screen-sm) {
        display: block;
        width: 50%;
        padding: 5em 1em; // must match .entry-content padding
      }

      .bcg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1200ms all ease-in-out;
      }

      &:hover {
        .bcg {
          width: 110%;
          height: 110%;
          top: -5%;
          left: -5%;
        }
      }
    } //.entry-image

    .entry-content {
      width: 100%;
      float: left;
      margin: 0;
      padding: 2em 0;

      @include breakpoint($screen-sm) {
        width: 50%;
        padding: 5em 3em 5em .5em;
      }
    }
  } //.section-hubzones

  .section-more {
    width: 100%;
    float: left;
    overflow: hidden;
    //margin-bottom: -10px;

    .entry-link {
      width: 50%;
      float: left;
      position: relative;
      text-align: center;
      overflow: hidden;
      position: relative;
      background-color: $color__blue;
      height: 15em; // must match image height

      @include breakpoint($screen-sm) {
        width: 25%;
        height: 25em;
      }

      &:hover {
        img {
          transform: scale(1.1);
          opacity: 0.6;
        }
      }

      img {
        width: 100%; // dimensions are mandatory
        height: 25em; // dimensions are mandatory

        object-fit: cover;
        overflow: hidden; // Cuts off the parts of the image poking out

        transition: 0.8s all ease-in-out;
      }

      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: perspective(1px) translateX(-50%) translateY(-50%);
        margin: 0 auto;
        text-align: center;
        color: $color__light;
      }
    }

  }

  // #hubzone-contractors {
  //   width: 151px;
  //   display: inline-block;
  // }
  // #hubzone-employed {
  //   width: 176px;
  //   display: inline-block;
  // }

} //.page-template-homepage

/* --- Carousel Custom Styles --- */
.owl-lazy {
  cursor: pointer;
}

.owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0 !important;
  background: none !important;
  pointer-events: none;
}

.owl-prev, .owl-next {
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 82px !important;
  height: 100%;
  margin: 0 5px !important;
  vertical-align: middle;
  background: transparent !important;
  opacity: 0.7;
  font-family: FontAwesome;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: auto;
  color: $color__light;
}

.owl-prev:hover, .owl-next:hover {
  background-color: rgba($color__blue,0.3) !important;
  opacity: 1;
}

.owl-prev {
  left:0;
}

.owl-next {
  right:0;
}

.owl-prev::before, .owl-next::before {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  font-size: 82px;
  text-indent: 0;
  left: 50%;
  transform: translateX(-50%);
}

.owl-prev::before {
  content: "\f053";
}

.owl-next::before {
  content: "\f054";
}

.owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
}
