.page-template-osdbu {

  @include font-size(1.25);
  p {
    letter-spacing: .5px;
    font-weight: 300;
  }

  h2 {
    position: relative;
    @include font-size(2.5);
    color: rgba($color__red, 0.8);
    margin-top: 0;

    &::before {
			content: '';
			border-top: 3px solid $color__blue;
			width: 145px;
			position: absolute;
			display: block;
			top: -10px;
			left: 50%;
      transform: translateX(-50%);
		}
  }

  .section-featured {
    background-color: $color__dark;
    .bcg {
      opacity: 0.5;
      background-position: center;
    }

    p {
      //max-width: 570px;
      margin: 0 auto 1.5em;
    }
  } //.section-featured


  .section-mission {
    width: 100%;
    float: left;
    position: relative;
    background-color: $color__blue;
    overflow: hidden;
    text-align: center;
    //@include font-size(1.5);
    @include breakpoint($screen-sm) { min-height: 700px; }

    h2 {
      color: $color__light;
      &::before {
  			border-top: 3px solid $color__light;
  		}
    }

    strong {
      font-weight: 600;
      color: $color__light;
    }

    &::before { // parallax bug fix
        position: fixed;
        content: '';
    }

    & > .container {
      padding: 100px 15px;
      z-index: 2;
    }

    .bcg {
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 140%;
      top: 0;
      z-index: 1;
    }

    .entry-content {
      background-color: $color__light;
      border: 2px solid rgba($color__dark, .1);
      padding: 1em;
      margin: 0;
    } //.entry-content

    .container-border {
      position: relative;
      background-color: $color__light;
      border: 2px solid rgba($color__dark, .1);
      padding: 1em;

      @include clearfix;
      @include clearfix-after;

    } //.container-border

  } //.section-mission



  .section-product-features {
    @include section(100px);
    overflow: hidden;
    text-align: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint($screen-sm) { min-height: 700px; }

    & > .container {
      @include breakpoint($screen-sm) { padding: 150px 15px; }
    }

    .video-bg {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      left: 0;
      top: 0;
      background-color: rgba($color__light, 0.9);
    }

    .entry-content {
      background-color: $color__light;
      border: 2px solid rgba($color__dark, .1);
      padding: .5em;
      margin: 0;
    } //.entry-content

    .container-border {
      width: 100%;
      position: relative;
      background-color: $color__light;
      border: 2px solid rgba($color__dark, .1);
      padding: .5em;

      @include clearfix;
      @include clearfix-after;

    } //.container-border

    ul {
      position: relative;
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        //float: left;
        padding: 0 10px;
        margin-bottom: 15px;

        @include breakpoint($screen-sm) { width: 50%; @include font-size(1.3); }
        @include breakpoint($screen-lg) { width: 25%; }
      }
    } //ul

    .content-order {
      @include font-size(3.75);
      color: rgba($color__red, 0.8);
      font-family: $font__secondary;
      text-align: center;
      @include breakpoint($screen-sm) { text-align: left; }
    }

    .content-desc {
      text-align: center;
      @include breakpoint($screen-sm) { text-align: left; }
    }

    .content-link {
      margin-top: 40px;
      text-align: center;
    }

  } //.section-eligibility



} //.page-template-about
