.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.section-featured {
	@include section(150px);
	color: $color__light;
	text-align: center;

	@include font-size(1.125);

	h1 {
		@include font-size(4.125);
		margin: 0.2em 0;
		position: relative;

		&::before {
			content: '';
			border: 2px solid $color__light;
			width: 145px;
			position: absolute;
			display: block;
			top: 0;
			left: 50%;
			transform: translateX(-72px);
		}
	}


} //.section-featured

.text-blue {
	color: $color__blue;
}

.text-red {
	color: $color__red;
}


.page-template-page-header {

	.site-main {
	  margin: 0;
	  float: left;
	  width: 100%;
	}

	.page {
		float: left;
		margin: 0;
		width: 100%;
	}

	h2 {
		position: relative;
		@include font-size(2.5);
		color: rgba($color__red, 0.8);
		margin-top: 0;

		&::before {
			content: '';
			border-top: 3px solid $color__blue;
			width: 145px;
			position: absolute;
			display: block;
			top: -10px;
			left: 0;
		}
	}

	.section-featured {
		background-color: $color__dark;
		margin-bottom: 2em;
		.bcg {
			opacity: 0.5;
			background-position: center;
			&.left-top {
				background-position: left top;
			}
			&.left-center {
				background-position: left center;
			}
			&.left-bottom {
				background-position: left bottom;
			}
			&.right-top {
				background-position: right top;
			}
			&.right-center {
				background-position: right center;
			}
			&.right-bottom {
				background-position: right bottom;
			}
			&.center-top {
				background-position: center top;
			}
			&.center {
				background-position: center;
			}
			&.center-bottom {
				background-position: center bottom;
			}

		}

		p {
			max-width: 700px;
			margin: 0 auto 1.5em;
		}
	} //.section-featured
} //.page-template-page-header
