$size__site-main: 100%;
$size__site-sidebar: 25%;



$size__site-header: 6em;
$size__site-footer: 6em;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-max: max-width 479px;
$screen-sm-max: max-width 767px;
$screen-md-max: max-width 991px;
$screen-lg-max: max-width 1199px;
