/*.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

*/

/* Small menu. */
/*
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

*/
.site-header {
	background-color: $color__background-header;
	text-align: justify;
	height: auto;
	z-index: 999;
	transition: all .5s;
	box-shadow: 0 4px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	border-bottom: thin solid $color__blue;

	@include breakpoint($screen-sm) {
		height: $size__site-header;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	&::after {
		@include breakpoint($screen-sm) {
			content: '';
	    display: inline-block;
	    width: 100%;
		}
	}

	& > .container {
		text-align: justify;
		@include breakpoint($screen-sm) { padding: 1em 0; }
		&::after {
			@include breakpoint($screen-sm) {
				content: '';
		    display: inline-block;
		    width: 100%;
			}
		}
	}

	&.small {
		@include breakpoint($screen-sm) {
			height: ($size__site-header - 2em);
		}

		& > .container {
			@include breakpoint($screen-sm) {
				height: ($size__site-header - 2em);
				padding: .5em 0;
			}
		}

		background-color: rgba($color__background-header, 1);

		.main-navigation {
			@include font-size(1);
		}

		.site-branding .site-logo {
			width: 120px;
		}
	}

	.site-branding {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		text-align: left;
		margin-top: 1em;

		@include breakpoint($screen-sm) { display:inline-block; margin-top: 0; }

		&::before {
			content: '';
			height: 100%;
			display:inline-block;
			vertical-align: middle;
		}

		.site-title {
			display:inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
		}

		.site-description {
			display: none;
		}

		.site-logo {
			width: 150px;
			transition: all .5s;
		}
	} //.site-branding

	.hamburger {
		display: inline-block;
		margin-top: 1em;
		float: right;
		@include breakpoint($screen-sm) { display:none; }
	}

	.main-navigation {
		display: none;
		vertical-align: middle;
		font-weight: 600;
		text-transform: uppercase;
		border-top: 2px solid rgba($color__dark, .1);
		@include font-size(1.125);

		@include breakpoint($screen-sm) { display:inline-block; border-top: none; }

		// &.is-active {
		// 	display:block;
		// 	@include breakpoint($screen-sm) { display:inline-block; }
		// }

		ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;

			li{
				display: block;
				padding: 1em 0;
				@include breakpoint($screen-sm) { display:inline; padding: 0; }

				a {
					padding: 0 30px;
				} // a

				&:last-child {
	        a { padding-right:0; }
	      }

				&.current-menu-item a {
					color: $color__link-hover;
				}
			} // li
		} // ul



	} //.main-navigation


} //.site-header

.page-navigation {
	position: relative;
	float: left;
	width: 100%;
	background-color: $color__red;

  @include breakpoint($screen-sm) {
		text-align: center;
	}

	& > .container {
		padding: 15px 15px;
		transition: all .5s;
	}

	&.small > .container {
		@include breakpoint($screen-sm) {
			padding: 5 15px;
		}
	}

	&.small {
		@include breakpoint($screen-sm) {
			position: fixed;
			top: 72px;
			z-index: 999;
			box-shadow: 0 4px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		}

		#page-menu li {
			@include breakpoint($screen-sm) { margin: 0 20px; }
		}
	}

} //.page-navigation


#page-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	@include breakpoint($screen-sm) {
		text-align: center;
	}


	a {
		@include font-size(0.875);
		text-transform: uppercase;
		color: $color__light;
		&:hover, &:focus {
			color: $color__link-hover-dark;
		}
	}

	li {
		position: relative;
		@include breakpoint($screen-sm) {
			display: inline-block;
			margin: 10px 20px;
			text-align: center;
		}

		// &::after {
		// 	@include breakpoint($screen-sm) {
		// 		content: '';
		// 		border-left: 1px solid $color__light;
		// 		color: $color__light;
		// 		margin: 0 40px;
		// 	}
		// }
		//
		// &:last-child::after {
		// 	@include breakpoint($screen-sm) {
		// 		content: '';
		// 		border: none;
		// 	}
		// }

	} // li

	@include breakpoint($screen-sm) {
		margin: 0 auto;
		display: inline-block;
	}
} //#page-menu
