input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: .5em;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.form-group {
	margin-bottom: 0.75em;
}

label {
	text-align: left;
	display: inline-block;
	padding: .5em 1em .5em .5em;
	min-width: 100px;
}

div.wpcf7 {
	max-width: 700px;
	margin: 0 auto;
}

.wpcf7-submit {
	display: block !important;
	margin: 0 auto;
}
